.input {
  margin: 0 0 24px;
  padding: 0;
  border: none;
}

.input:last-child {
  margin-bottom: 0;
}

.input__label {
  color: #A0A0A0;
  display: block;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  margin: 0 0 5px;
}

.input__field {
  display: block;
  color: #000;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  min-width: 260px;
  width: 100%;
}

.input__field:focus {
  font-weight: 500;
  outline: none;
  border-bottom: #FF6838;
}

.input__message {
  color: #EE3465;
  display: block;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

@media screen and (min-width: 600px) {
  .input__field {
    min-width: 396px;
  }
}