.movie {
  display: flex;
  flex-direction: column;
  width: 364px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.movie__image {
  width: 100%;
  object-fit: cover;
  height: 168px;
}

.movie__image:hover {
  cursor: pointer;
  opacity: .6;
}

.movie__container {
  padding: 14px;
  display: flex;
  justify-content: space-between;
}

.movie__title {
  margin: 0;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  max-width: 240px;
}

.movie__button {
  background-image: url(../../images/like-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color:#F9F9F9;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

.movie__button:hover {
  opacity: .6;
}

.movie__button_liked {
  background-image: url(../../images/like-button_active.svg);
}

.movie__button_saved {
  background-image: url(../../images/delete-button.svg);
}

.movie__duration {
  padding-top: 9px;
  margin: 0;
  color: #A0A0A0;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .movie {
    max-width: 300px;
  }

  .movie__image {
    height: 190px;
    max-width: 100%;
  }

  .movie__title {
    font-size: 13px;
    line-height: 16px;
    max-width: 295px;
  }

  .movie__duration {
    font-size: 11px;
    line-height: 13px;
  }
}

@media screen and (max-width: 1030px) {

  .movie__image {
    height: 151px;
    max-width: 100%;
  }

  .movie__title {
    max-width: 226px;
  }
}

@media screen and (max-width: 768px) {
  .movie {
    max-width: 339px;
  }
}
@media screen and (max-width: 768px) {
  .movie {
    width: 300px;
  }
}