.profile-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 123px 30px 16px;
  margin: 0 auto;
  align-items: center;
}

.profile-edit__form {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  width: 100%;
}

.profile-edit__inputs-container {
  margin: 0;
}

.profile-edit__input-container {
  border: none;
  border-bottom: 1px solid #E8E8E8;
  display: flex;
  justify-content: space-between;
  padding: 0 0 16px;
  margin: 0 0 17px;
}

.profile-edit__input-container:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.profile-edit__input-label {
  color: #000;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile-edit__input {
  border: none;
  background-color: transparent;
  color: #000;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  outline: none;
}

.profile-edit__input-error-message {
  display: block;
  margin: 0 0 10px;
  color: #EE3465;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.profile-edit__button {
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 0;
  margin: 220px 0 0;
  justify-self: flex-end;
}

.profile-edit__button:hover {
  opacity: .6;
}

.profile-edit__button_disabled {
  color: #A0A0A0;
}

.profile-edit__button_disabled:hover {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .profile-edit__button {
    margin: 210px 0 0;
  }
}