.portfolio__title {
  margin: 0 0 40px;
  color: #A0A0A0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.portfolio__links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio__links_item {
  margin: 0 0 20px;
  padding: 0 0 19px;
  border-bottom: 1px solid #E6E6E6;
}

.portfolio__links_item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.portfolio__links_item:hover {
  opacity: .6;
  cursor: pointer;
}

.portfolio__link {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.04em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.portfolio__link_logo {
  width: 18px;
  height: 28px;
}

@media screen and (min-width: 600px) {
  .portfolio__title {
    font-size: 18px;
    margin: 0 0 50px;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__link_logo {
    width: 27px;
    height: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__link {
    font-size: 30px;
  }

  .portfolio__link_logo {
    width: 29px;
  }
}