@keyframes openMenu {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes closeMenu {
  0% {
    right: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: -100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 70px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  align-items: center;
}

.header_logged-in {
  background-color: #fff;
}

.header__overlay {
  position: fixed;
  opacity: .3;
  z-index: -1;
  background-color: #000;
}

.header__overlay_opened {
  position: fixed ;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 420px) {
  .header {
    padding: 18px 14px;
  }
}