.checkbox__input {
  display: none;
}

.checkbox__label {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-left: 48px;
  width: 120px;
  font-size: 12px;
  line-height: 18px;
}

.checkbox__label::before,
.checkbox__label::after {
  content: "";
  position: absolute;
  left: 0;
}

.checkbox__label::before {
  width: 36px;
  height: 20px;
  background-color: #EBEBEB;
  border-radius: 20px;
  transition: all 1s, linear, 0.7s;
}

.checkbox__label::after {
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: left 1s, linear, 0.4s;
}

.checkbox__input_active+.checkbox__label::before {
  background-color: #2BE080;
}

.checkbox__input_active+.checkbox__label::after {
  left: 18px;
}

.checkbox__label:hover::before {
  opacity: 0.6;
  cursor: pointer;
}
