.footer {
  display: grid;
  grid-template-areas:
    "title"
    "navigation"
    "year";
  grid-template-columns: 1fr;
  row-gap: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  padding: 80px 10px 20px;
  background-color: #FAFAFA;
}

.footer__title {
  grid-area: title;
  text-align: center;
  color: #A0A0A0;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 20px;
  margin: 0;
}

.footer__navigation {
  grid-area: navigation;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.footer__link {
  text-decoration: none;
  color: #000;
  margin-bottom: 12px;
}

.footer__link:hover {
  opacity: .6;
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__year {
  grid-area: year;
  color: #A0A0A0;
  margin: 0;
  text-align: center;
}


@media screen and (max-width: 1000px) {
  .footer {
    padding: 80px 70px 20px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    display: grid;
    grid-template-areas:
      "title title"
      "year navigation";
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    font-size: 13px;
    line-height: 16px;
    padding: 80px 30px 20px;
  }

  .footer__navigation {
    flex-direction: row;
    gap: 20px;
    justify-self: right;
  }

  .footer__link {
    margin-bottom: 0;
  }

  .footer__year {
    text-align: left;
  }
}
